aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
chardet==4.0.0
discord==1.7.3
discord-py-interactions==3.0.2
discord.py==1.7.3
distlib==0.3.3
filelock==3.4.0
idna==3.3
multidict==5.2.0
pipenv==2021.11.23
platformdirs==2.4.0
psycopg2==2.9.3
pyodbc==4.0.32
six==1.16.0
typing_extensions==4.0.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
yarl==1.7.2
